__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
.env
.DS_Store
.git
.github
.pytest_cache
.coverage
htmlcov
dist
build
*.egg-info
output.svg
vectorized.svg
rasterized.png
no_background.png
*.png
*.jpg
*.jpeg
*.svg
terminals/

